<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="usuario">
                </div>
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="password">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 4-20 characters long, contain letters and numbers, and must not contain
                    spaces,specialcharacters, or emoji.
                </div>
                <button class="btn btn-primary" type="submit">Enviar</button>
            </form>
            {{#if error}}
            <p>Usuario o Contraseña incorrecto!!!</p>
            {{/if}}
        </div>
    </div>
</div>